
#s1{
background:linear-gradient(45deg,orange,yellow) ;
font-size: 28px;
font-weight: bold;
color: white;
}

#s2{
    background:linear-gradient(45deg,lightgreen,yellow) ;
font-size: 28px;
font-weight: bold;
}
#s3{
    background:linear-gradient(45deg,lightblue,brown) ;
    font-size: 28px;
    font-weight: bold; 
}
#s4{
    background:linear-gradient(45deg,red,pink) ;
    font-size: 28px;
    font-weight: bold; 
}
#s5{
    background:linear-gradient(45deg,red,orange,yellow,green,lightblue,blue,purple) ;
    font-size: 46px;
    font-weight: bold; 
    text-align: center;
    color: white;
}
.home{
    font-size: 30px;
    font-weight: bold;
    width: 150px;
    height: 80px;
    color: lightgreen;
    text-align: center;
    border-radius: 20px;
    padding-top:35px ;
    margin-left: 680px;
    margin-top: -120px;
    color: black;
  }
  .home:hover{
    background-color: orange;
     box-shadow: 0 0 5px orange,
                  0 0 25px orange,
                  0 0 50px orange,
                  0 0 200px  orange;
      color:white ;
      cursor: pointer;
      text-shadow: none;
  }
  .next{
    font-size: 30px;
    font-weight: bold;
    width: 150px;
    height: 80px;
    color: lightgreen;
    text-align: center;
    border-radius: 20px;
    padding-top:35px ;
    margin-left: 900px;
    margin-top: -120px;
    color: black;
  }
  .next:hover{
    background-color: red;
     box-shadow: 0 0 5px red,
                  0 0 25px red,
                  0 0 50px red,
                  0 0 200px  red;
      color:white ;
      cursor: pointer;
      text-shadow: none;
  }
  .before{
    font-size: 30px;
    font-weight: bolder;
    width: 150px;
    height: 80px;
    color: lightgreen;
    text-align: center;
    border-radius: 20px;
    padding-top:35px ;
    margin-left: 480px;
    margin-top: 100px;
    color: black;
  }
  .before:hover{
    background-color: blue;
     box-shadow: 0 0 5px blue,
                  0 0 25px blue,
                  0 0 50px blue,
                  0 0 200px  blue;
      color:white ;
      cursor: pointer;
      text-shadow: none;
  }